@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.chatbot-area {
	position: relative;
	display: none;
}

.chatbot-area * {
	font-family: "Noto Sans KR", sans-serif !important;
}

.visible-chatbot {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1003;
}

#chatting-area {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1003;
	width: 400px;
	height: auto;
	background-color: white;
	padding: 10px;
	border-top: 50px solid skyblue;
}

#chatting-area tr, td {
	padding: 10px;
}

#chatting-area th {
	height: 50px
}

#chatting-area input {
	height: 80px;
	display: inline-block;
}

#chatting-area input[type="text"] {
	width: 70%;
	text-align: center;
}

#chatting-area input[type="button"] {
	width: 20%;
}