@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
}

footer {
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: white;
}

footer h5 {
	text-align: center;
}

header {
	position: sticky;
	top: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: auto;
	font-size: large;
	background: white;
	z-index: 1;
	text-align: center;
}

.logo, .menu, .login, li {
	display: inline-block;
}

header li {
	margin-inline: 30px;
}

.logo {
	float: left;
	margin: 0;
	font-weight: bold;
	margin-inline-start: 60px;
}

.menu {
	float: none;
	font-weight: bold;
}

.login {
	float: right;
}

header a {
	text-decoration: none;
	color: black;
	vertical-align: middle;
}

header a:hover {
	font-weight: bold;
	background: linear-gradient(to top, skyblue 10%, transparent 10%);
}

.sub-menu {
	display: none;
	margin: 0;
	padding: 0;
	background-color: white;
	text-align: center;
	font-weight: normal;
}

.menu li:hover .sub-menu {
	display: table;
}

.sub-menu li {
	display: block;
	margin: 0;
}

.sub-menu li:hover {
	font-weight: bold;
}

@media ( max-width :768px) {
	header {
		position: relative;
		display: inline-block;
	}
}

.page_title {
	margin-left: 10%;
}

.travel_name {
	font-weight: bold;
	color: #06AEBD;
	font-size: 14px;
}

.travel_name_detail {
	font-weight: bold;
	font-size: 16px;
}

.map_box1 {
	width: 100%;
	height: 300px;
}

.map_name {
	margin: 5px;
}

.map_address {
	margin: 5px;
}

.travel_address {
	font-weight: bold;
	font-size: 16px;
	color: #06AEBD;
}

.travel_address_detail {
	font-weight: bold;
	font-size: 16px;
}

.map_btn {
	font-size: 13px;
}

.tell_number {
	font-weight: bold;
	font-size: 16px;
	color: #06AEBD;
}

.tell_num {
	margin: 5px;
}

.comment {
	font-family: arial;
	color: rgb(133, 146, 166);
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.map_img {
	position: inherit;
	width: 100%;
	height: 100%;
	background-size: cover;
	border-radius: 2px;
	overflow: hidden;
}

.total_review {
	margin: 5px;
}

.rating_review {
	background: rgb(73, 120, 206);
	display: inline-flex;
	border-radius: 5px;
	width: 44px;
	-webkit-box-pack: center;
	justify-content: center;
	height: 22px;
	-webkit-box-align: center;
	align-items: center;
}

.info_box {
	position: relative;
	top: -86px;
	display: inline-block;
	margin-left: 10%;
	width: 35%;
	height: 602px;
}

.photo_box {
	position: relative;
	display: inline-block;
	border: 1px groove;
	width: 40%;
	height: 600px;
	margin-left: 4%;
}

.bottom_box {
	width: 80%;
	height: 100%;
	position: relative;
	border: hidden;
	margin-left: 10%;
	margin-right: 10%;
}

.page_style {
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline-block;
}

.page_style a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	transition: 0.5s;
}

.page_style a:hover {
	transform: scale(1.5);
	color: gray;
	transition: 0.5s;
}