@charset "UTF-8";

.page_list {
	position: sticky;
	margin-left: 42%;
	padding: 0;
	overflow: hidden;
	display: inline-block;
}

.page_list a {
	float: left;
	display: block;
	color: gray;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	transition: 0.5s;
}

.page_list a:hover {
	transform: scale(1.5);
	color: gray;
	transition: 0.5s;
}

.image-list img {
	width: 240px;
	height: 160px;
	margin: 0;
}

.thumnail {
	width: 15%;
	text-align: center;
}

.number {
	width: 9%;
	text-align: center;
}

.tag {
	width: 9%;
	text-align: center;
}

.title {
	width: 49%;
	text-align: center;
}

.date {
	width: 14%;
	text-align: center;
}

.recommend {
	width: 9%;
	text-align: center;
}

.board_list {
	padding: 50px 250px;
}

.post_area {
	float: right;
	margin-right: 20%;
}

.search_box {
	float: left;
	margin-left: 45%;
	text-align: center;
}